@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 40px;
    font-size: 24;
    font-stretch: expanded;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-rlyhS7PXGt8mea1aW9ittZ-9z8StQTNrmg&usqp=CAU);
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f7f7f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(206, 206, 206);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.center {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 40px;
    max-width: 600;
    font-size: 24;
    font-stretch: expanded;
    margin: auto;
    line-height: 2.3pc;
    padding-top: 20px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.video { 
    width: 33%;
    margin: auto

}